
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Benify-kanban-primary: mat.define-palette(mat.$indigo-palette);
$Benify-kanban-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Benify-kanban-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Benify-kanban-theme: mat.define-light-theme((
  color: (
    primary: $Benify-kanban-primary,
    accent: $Benify-kanban-accent,
    warn: $Benify-kanban-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Benify-kanban-theme);

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


html, body {
    height: 100%;
}

html {
    background-image: url('./assets/gradient.png');
    background-size: cover;

    overflow-y: auto !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
